<div class="card-body text-center">
  <h4 class="card-title">Stuff in the Bucket</h4>
</div>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<table class="table uploads__card-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Type</th>
      <th scope="col">Link</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <% @uploads.each do |upload| %>
   <tbody>
      <tr>
        <td class="uploads__card-table-file-name" data-id="<%= upload.id %>"><%= upload.file_name %></td>
        <td><%= number_to_human_size(upload.file_size) %></td>
        <td><%= upload.file_type %></td>
        <td><%= link_to "Visit", upload.file_url, target: "_blank", class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', upload_delete_url(upload), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<div class="card-footer uploads__card-footer text-center">
  <%= link_to 'Add New File', uploads_new_path, class: "btn btn-success" %>
</div>