<div class="card-body text-center">
  <h4 class="card-title">Add to the Stack</h4>
</div>
<div class="card-body">
  <%= form_tag(uploads_path, multipart: true) do %>
    <div class="field">
      <%= label_tag :file_name, 'Name the File' %><br>
      <%= text_field_tag :file_name %>
    </div>
    <div class="field">
      <%= file_field_tag :file, id: "uploads__card-form-file", accept: 'image/png,image/gif,image/jpeg,text/html' %>
    </div>
  	<%= submit_tag 'Punch It, Chewie', id: "uploads__card-form-submit" %>
  <% end %>
</div>
<div class="card-body text-center">
  <%= link_to 'View Bucket', uploads_path, class: "btn btn-primary" %>
</div>